#header-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#link-container {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: row;
}
